.search {
  background-color: #2b2b2b;
  color: #ddd;
  border-radius: 8px;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #444;
  border-radius: 8px;
}

.prod-search {
  background-color: #333;
  color: #ddd;
  border: none;
  padding: 10px;
  border-radius: 8px 0 0 8px;
}

.prod-search::placeholder {
  color: #888;
}

.btn-clear {
  background-color: #6c6b6b;
  color: #ddd;
  border: none;
  border-radius: 0 8px 8px 0;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-clear:hover {
  background-color: #414141;
  color: white;
}


.order-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #444;
  background-color: #333;
  color: #ddd;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.order-header {
  display: flex;
  align-items: center;
  width: 95%;
  flex-wrap: wrap;
}

.order-index,
.order-phone,
.order-name {
  flex: 1;
  text-align: left;
}

.order-phone {
  font-weight: bold;
}

.order-name {
  color: #bbb;
  font-weight: bold;
}

.order-open {
  position: relative;
}
.spinner-border {
  position: absolute;
  left: 12px;
}

.order-item button {
  margin-left: 10px;
  background-color: #343a40;
  color: #ddd;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  &:hover {
    background-color: #ddd;
    color: #555;
  }
}

.order-item button:disabled {
  opacity: 0;
}

.spinner-border {
  margin-left: 10px;
  border-color: #00bfff;
}

@media (max-width: 768px) {
  .order-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .order-item {
    padding: 15px;
  }

  .order-item button {
    margin-top: 10px;
  }
}
