<div class="search p-3">
  <div class="input-group ">
    <input class="form-control prod-search" type="text" placeholder="search" [(ngModel)]="inputSearch">
    <button class="btn btn-clear" (click)="inputSearch = ''">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
</div>

<div class="product-list">
  <div class="product-item" *ngFor="let prod of allProd | async | searchProd: inputSearch: 'title'; index as i"
       [ngClass]="{selectColor: (prod.id === mainService.selectProdId) || (prod.id === mainService.spinner)}">

    <div class="product-header">
      <span class="product-index">{{i + 1}}</span>
      <div class="image-prod">
        <div class="spinner-border text-info" role="status" *ngIf="mainService.spinner === prod.id"></div>
        <img [src]="prod.image" alt="avatar" (click)="openDetailModal(prod.id)">
      </div>
      <div class="product-info">
        <h5 class="product-title">{{prod.title}}</h5>
        <p class="product-price">{{prod.price | currency}}</p>
        <p class="product-discount">{{prod.discount}}%</p>
      </div>
    </div>

    <div class="product-actions">
      <button class="btn-edit" (click)="editProduct(prod.id)" [disabled]="mainService.preloaderRemoveProd">
        <i class="bi bi-pencil-square edit-icon"></i>
      </button>
      <button class="btn-delete" (click)="deleteProduct(prod.id, prod.title)" [disabled]="mainService.preloaderRemoveProd">
        <i class="bi bi-trash edit-icon"></i>
      </button>
    </div>
  </div>
</div>
