.prod-search {
  position: relative;
  padding-right: 45px;
  background-color: #2b2b2b; /* Dark grey background */
  color: #ddd; /* Light grey text */
}

.btn-clear {
  margin: 0;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  right: -5px;
  background-color: #6c6b6b; /* Dark grey button background */

  &:hover {
    background-color: #414141; /* Darker grey on hover */
    color: white;
  }
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}

.product-item {
  background-color: #444;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.product-header {
  display: flex;
  align-items: center;
}

.product-index {
  margin-right: 10px;
  color: #ddd;
}

.image-prod {
  position: relative;
  margin-right: 10px;
  border-radius: 5px;
  background-color: white;
}

.image-prod img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
  object-fit: contain;
}

.spinner-border {
  position: absolute;
  top: 10px;
  left: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
  color: #ddd;
}

.product-title {
  margin: 0;
  font-size: 1.1em;
}

.product-price {
  margin: 0;
  font-size: 1em;
  color: #fff;
}

.product-discount {
  margin: 0;
  font-size: 0.9em;
  color: #f39c12;
}

.product-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.btn-edit, .btn-delete {
  border-radius: 5px;
  margin: 0 10px 0 10px;
}

.btn-edit:hover {
  color: white;
  background-color: green;
}

.btn-delete:hover {
  color: white;
  background-color: red;
}

.selectColor {
  background-color: #ddd;
}

.selectColor .product-info, .selectColor .product-index {
  color: black;
}

@media(min-width: 766px) {
  .product-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .product-header {
    flex-grow: 1;
  }

  .product-actions {
    margin-top: 0;
    flex-direction: row;
    justify-content: flex-end;
  }
}
