ul {
    margin: 0 auto;
    max-width: 500px;
    border-radius: 10px;
}

button {
    background-color: #ddd;
}

.img-prod {
    margin: 10px;
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.activites {
    max-width: 500px;
}