ngb-pagination {
  position: absolute;
  bottom: 10px;
}

select {
  text-align: center;
  font-weight: 500;
  color: #ddd;
  background-color: #3a3938;
  border-color: #484141;

  option {
    font-weight: 500;
    color: #ddd;
    background-color: #3a3938;
  }
}

.prod-header {
  flex-direction: column;
  height: 100px;
  background-color: #484141;
}

.prod-wrapper {
  padding: 10px 10px 80px 10px;
  min-height: calc(100vh - 180px);
  background-color: #3a3938;
}

.search-wrapper {
  position: relative;
}

.search-input {
  padding-right: 35px;
  background-color: #3a3938;
  color: #ddd;
  border-color: #484141;
}

.btn-clear {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #ddd;
  background-color: #484141;
  color: #ddd;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.card {
  height: 350px;
  padding-top: 5px;
  background-color: #484141;
  color: #ddd;
  border: 1px solid  #487171;
}

.prod-card-body {
  height: 70px;
  padding: 10px 20px;
  text-align: center;
  background-color: #3a3938;
  color: #ddd;
}

.img-wrapper {
  border-radius: 5px;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.spinner-border {
  position: absolute;
  border-color: #00bfff;
}

.img-prod {
  height: 110px;
  width: 150px;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  background-color: white;
}

@media(min-width: 768px) {
  .prod-header {
    flex-direction: row;
    height: 60px;
  }
}
