ngb-pagination {
    position: absolute;
    bottom: 10px;
    display: none;
}

button {
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #818181;
    border-color: #979797;

    &:hover {
        background-color: #414141;
    }

    a {
        text-decoration: none;
        color: #ddd;
    }
}

select {
    text-align: center;
    font-weight: 500;
    color: #8a8787;

    option {
        font-weight: 500;
        color: #8a8787;
    }
}

.prod-header {
    flex-direction: column;
    height: 100px;
    background-color: #858585;
}

.prod-wrapper {
    padding: 10px 10px 80px 10px;
    min-height: calc(100vh - 180px);
}

.search-wrapper {
    position: relative;
}

.search-input {
    padding-right: 35px;
}

.btn-clear {

    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #ddd;

    &:hover {
        background-color: black;
        color: white;
    }
}

.card {
    height: 350px;
}

.prod-card-body {
    height: 70px;
    padding: 10px 20px;
    text-align: center;
}

.img-wrapper {
    position: relative;
    cursor: pointer;
}

.spinner-border {
    position: absolute;
}

.img-prod {
    height: 110px;
    width: 150px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

@media(min-width: 768px) {
    ngb-pagination {
        display: block;
    }

    .prod-header {
        flex-direction: row;
        height: 60px;
    }
}